<a href="https://colab.research.google.com/github/rodzhttp/SENAI-Python-Para-Data-Science/blob/main/6_Desempenho_de_Vendas_e_An%C3%A1lise_de_Produtos_Gera%C3%A7%C3%A3o_de_Dados_Sint%C3%A9ticos_(NumPy_e_Pandas).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Desempenho de Vendas e Análise de Produtos - Geração de Dados Sintéticos (NumPy e Pandas):**

###A "TechGadgets Ltda." é uma empresa de tecnologia que vende diversos produtos eletrônicos. Você foi contratado para analisar o desempenho de vendas nos últimos meses, identificar tendências e visualizar os resultados. A empresa está interessada em entender as vendas totais, a distribuição das vendas por categoria de produto e a variação mensal.

Utilize numpy para gerar os seguintes dados:
- meses: Um array de 12 meses (de 1 a 12) representando um ano.
- vendas_produto_A: Um array de 12 valores de vendas para o "Produto A", com média de 1000 e desvio padrão de 150 (use np.random.normal). Certifique-se de que não há vendas negativas (arredonde para cima ou defina como 0 se for negativo).
- vendas_produto_B: Um array de 12 valores de vendas para o "Produto B", com média de 800 e desvio padrão de 100.
- vendas_acessorios: Um array de 12 valores de vendas para "Acessórios", com média de 300 e desvio padrão de 50.

Cálculos e Análise (Pandas):
- Crie um DataFrame Pandas chamado df_vendas com as seguintes colunas: 'Mês', 'Produto A', 'Produto B', 'Acessórios'.
- Adicione uma nova coluna ao df_vendas chamada 'Total Vendas Mensal', que será a soma das vendas de 'Produto A', 'Produto B' e 'Acessórios' para cada mês.
- Calcule e exiba a média de vendas de cada produto ('Produto A', 'Produto B', 'Acessórios') e do 'Total Vendas Mensal' para todo o período.
- Calcule e exiba o valor total de vendas para cada categoria de produto ('Produto A', 'Produto B', 'Acessórios') e o 'Total Vendas Mensal' acumulado.
- Identifique e exiba o mês com o maior 'Total Vendas Mensal'.
- Identifique e exiba o mês com a menor 'Total Vendas Mensal'.

In [2]:
import numpy as np
import pandas as pd

###**< Numpy > Gerando valores**

In [3]:
meses1 = np.array(["janeiro", "fevereiro", "março", "abril", "maio", "junho",
                 "julho", "agosto", "setembro", "outubro", "novembro", "dezembro"])

In [ ]:
# gerar valores produto A
valores_A = np.random.normal(loc=1000, scale=150, size=12) # média=1000, desvio padrão=150
valores_positivosA = valores_A[valores_A > 0] # filtro de numeros positivos
print(np.round(valores_positivosA, 2))

[ 930.04 1155.42 1379.99 1050.21 1072.51 1232.41  926.45  971.84 1006.74
 1219.25 1246.5  1240.01]

In [ ]:
# gerar valores produto B
valores_B = np.random.normal(loc=800, scale=100, size=12)
valores_positivosB = valores_B[valores_B > 0]
print(np.round(valores_positivosB, 2))

[680.44 795.25 627.6  933.37 822.95 609.49 724.79 707.74 734.26 875.22
 701.03 828.68]

In [ ]:
# gerar valores acessorios
valores_acessorios = np.random.normal(loc=300, scale=50, size=12)
valores_positivos_a = valores_acessorios[valores_acessorios > 0]
print(np.round(valores_positivos_a, 2))

[310.67 265.29 348.76 328.2  188.49 278.46 257.7  332.84 245.15 328.13
 306.93 237.61]

###**< Pandas > DataFrames**

In [4]:
dados = {
    "mes": ["janeiro", "fevereiro", "março", "abril", "maio", "junho",
                 "julho", "agosto", "setembro", "outubro", "novembro", "dezembro"],
    "Produto A" : [ 930.04, 1155.42, 1379.99, 1050.21, 1072.51, 1232.41,  926.45,  971.84, 1006.74,
 1219.25, 1246.5,  1240.01],
    "Produto B": [680.44, 795.25, 627.6,  933.37, 822.95, 609.49, 724.79, 707.74, 734.26, 875.22,
 701.03, 828.68],
    "Acessorios" : [310.67, 265.29, 348.76, 328.2,  188.49, 278.46, 257.7,  332.84, 245.15, 328.13,
 306.93, 237.61]
}

df_vendas = pd.DataFrame(dados)
print(df_vendas)

          mes  Produto A  Produto B  Acessorios
0     janeiro     930.04     680.44      310.67
1   fevereiro    1155.42     795.25      265.29
2       março    1379.99     627.60      348.76
3       abril    1050.21     933.37      328.20
4        maio    1072.51     822.95      188.49
5       junho    1232.41     609.49      278.46
6       julho     926.45     724.79      257.70
7      agosto     971.84     707.74      332.84
8    setembro    1006.74     734.26      245.15
9     outubro    1219.25     875.22      328.13
10   novembro    1246.50     701.03      306.93
11   dezembro    1240.01     828.68      237.61

In [5]:
# Total Vendas Mensal
df_vendas['Total Vendas Mensal'] = df_vendas['Produto A'] + df_vendas['Produto B'] + df_vendas['Acessorios']
print(df_vendas)

          mes  Produto A  Produto B  Acessorios  Total Vendas Mensal
0     janeiro     930.04     680.44      310.67              1921.15
1   fevereiro    1155.42     795.25      265.29              2215.96
2       março    1379.99     627.60      348.76              2356.35
3       abril    1050.21     933.37      328.20              2311.78
4        maio    1072.51     822.95      188.49              2083.95
5       junho    1232.41     609.49      278.46              2120.36
6       julho     926.45     724.79      257.70              1908.94
7      agosto     971.84     707.74      332.84              2012.42
8    setembro    1006.74     734.26      245.15              1986.15
9     outubro    1219.25     875.22      328.13              2422.60
10   novembro    1246.50     701.03      306.93              2254.46
11   dezembro    1240.01     828.68      237.61              2306.30

In [27]:
# Calculando as médias
media_prod_A = np.mean(df_vendas['Produto A'])
print("Média produto A: R$", round(media_prod_A, 2))
media_prod_B = np.mean(df_vendas['Produto B'])
print("Média produto B: R$", round(media_prod_B, 2))
media_acessorios = np.mean(df_vendas['Acessorios'])
print("Média acessórios: R$", round(media_acessorios, 2))

Média produto A: R$ 1119.28
Média produto B: R$ 753.4
Média acessórios: R$ 285.69

In [37]:
# Total de vendas acumuladas
total_vendas = np.sum(df_vendas['Total Vendas Mensal'])
print("Total de vendas acumuladas: R$", round(total_vendas, 2))

Total de vendas acumuladas: R$ 25900.42

In [52]:
# Mes com maior e menor total de vendas
mes_maior_venda = df_vendas.loc[df_vendas["Total Vendas Mensal"].idxmax(), "mes"]
mes_menor_venda = df_vendas.loc[df_vendas["Total Vendas Mensal"].idxmin(), "mes"]
print("Mês com MAIOR total de vendas:", mes_maior_venda, " - R$", round(df_vendas["Total Vendas Mensal"].max(), 2))
print("Mês com MENOR total de vendas:", mes_menor_venda, " - R$", round(df_vendas["Total Vendas Mensal"].min(), 2))

Mês com MAIOR total de vendas: outubro  - R$ 2422.6
Mês com MENOR total de vendas: julho  - R$ 1908.94